.cvd{
    text-align: center;
    color: rgb(40, 207, 82);
}
body{
    background-image: url("run.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
}
div{
    text-align: center;
    border-style: inherit;
}

#bk{
    text-align: center;
}
a:hover {
    
    background-color: rgb(217, 255, 0);
  }