body {
    
    background-image: url("999.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center; 
    
  }
  h2{
    text-align: center;
    border-style: ridge;
    color:#27AE60
  }
  h3{
    text-align: center;
    
    color:#27AE60
  }
  
  div.allb {text-align: center;
    border-style: outset;
}

  div {text-align: center;
    color: black;
    
    margin: auto;

  width: 50%;
  
  padding: 10px;
    
    padding: 5px;  
}
div.num1 {text-align: center;
    color: black;
    border-style: groove;
    margin: auto;

  width: 50%;
  
  padding: 10px;
    
    padding: 5px;  
}
div.num2 {text-align: center;
    color: rgb(45, 46, 31);
    font-weight: bold;
    margin: auto;

  width: 50%;
  
  padding: 10px;
    
    padding: 5px;  
}
div.num3 {text-align: center;
    color: rgb(45, 46, 31);
    font-weight: bold;
    margin: auto;

  width: 5%;
  
  
}

div.num3:hover {
    
    background-color: rgb(228, 22, 73);
  }

  div.num2:hover {
    
    background-color: rgb(22, 228, 166);
  }
  