.cvd{
    text-align: center;
    color: rgb(255, 38, 0);
}
body{
    background-image: url("req.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
}
div{
    text-align: center;
    border-style: inherit;
}

#bk{
    text-align: center;
}
a:hover {
    
    background-color: rgb(153, 0, 255);
  }